{% extends "base.html"%}
{% load tailwind_filters %}
{% block content%}
<div class=" bg-white flex flex-col md:py-8 mt-8 md:mt-0"></div>
<h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Login</h2>
<p class="leading-relaxed mb-5 text-gray-600">Fill the bellow form.</p>

<form class="form mx-auto max-w-lg" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button  class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Login</button>
</form>
</div>
{% endblock content%}